apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent
  template:
    metadata:
      labels:
        app: agent
    spec:
      containers:
      - name: agent
        image: ragazzo271985/gomon-agent:20250913-ae81b95
        ports:
        - containerPorts: 2112
          name: metrics
          protocol: TCP
        env:
        - name: KAFKA_BROKERS
          value: "kafka-0.kafka.monitoring.svc.cluster.local:9092,kafka-1.kafka.monitoring.svc.cluster.local:9092,kafka-2.kafka.monitoring.svc.cluster.local:9092"
        - name: KAFKA_TOPIC
          value: "metrics-v4"
        - name: KAFKA_REQUEST_TIMEOUT_MS
          value: "30000"
        - name: KAFKA_RETRIES
          value: "5"
        - name: METRICS_PORTS
          value: "2112"
        # Add volume mount for logs
        volumeMounts:
        - name: agent-logs
          mountPath: /var/log
        resources:
          requests:
            memory: "32Mi"
            cpu: "250m"
          limits:
            memory: "32Mi"
            cpu: "500m"
      initContainers:
      - name: init-log-dir
        image: busybox
        command: ["sh", "-c", "mkdir -p /var/log && chmod 777 /var/log"]
        volumeMounts:
         - name: agent-logs
           mountPath: /var/log
      volumes:
      - name: agent-logs
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: gomon-agent-metrics
  namespace: monitoring
  labels:
    app: agent
spec:
  ports:
  - port: 2112
    targetPort: 2112
    protocol: TCP
    name: metrics
  selector:
    app: agent
  type: ClusterIP