apiVersion: batch/v1
kind: Job
metadata:
  name: integration-test
  namespace: monitoring
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: test
        image: ragazzo271985/gomon-integration-test:latest
        env:
        - name: KAFKA_BROKERS
          value: "kafka-0.kafka.monitoring.svc.cluster.local:9092,kafka-1.kafka.monitoring.svc.cluster.local:9092,kafka-2.kafka.monitoring.svc.cluster.local:9092"
        - name: KAFKA_TOPIC
          value: "metrics-v4"
  backoffLimit: 1