apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-alerting-provisioning
  namespace: monitoring
data:
  alerting.yaml: |
    apiVersion: 1
    contactPoints:
      - orgId: 1
        name: slack-webhook
        receivers:
          - uid: slack-webhook-receiver
            type: slack
            settings:
              url: $SLACK_WEBHOOK_URL
              title: |
                [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.alertname }}
              text: |
                {{ range .Alerts }}
                **Firing**
                Value: {{ .ValueString }}
                Labels:
                {{ range .Labels.SortedPairs }} - {{ .Name }} = {{ .Value }}
                {{ end }}
                Annotations:
                {{ range .Annotations.SortedPairs }} - {{ .Name }} = {{ .Annotations.Get .Name }}
                {{ end }}
                {{ end }}