name: Build and Push Docker Image Alerting

on:
  push:
    branches: [ main ]
    paths:
      - 'alerting/**'
      - 'go.mod'
      - 'go.sum'

permissions:
  contents: read
  security-events: write

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Extract variables
        id: vars
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Build alerting image for scanning
        run: |
          docker buildx build \
            --platform linux/arm64 \
            --load \
            -t ${{ secrets.DOCKER_HUB_NAME }}/alerting:scan \
            -f alerting/Dockerfile.alerting .
    
      # Trivy security scan
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_HUB_NAME }}/alerting:scan'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'
          ignore-unfixed: true
          exit-code: '0'
      
      - name: Upload Trivy results to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        if: always()  
        with:
          sarif_file: 'trivy-results.sarif'
      
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push alerting service (multi-arch)
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            --push \
            -t ${{ secrets.DOCKER_HUB_NAME }}/alerting-service:latest \
            -t ${{ secrets.DOCKER_HUB_NAME }}/alerting-service:${{ steps.vars.outputs.date }}-${{ steps.vars.outputs.sha_short }} \
            -f alerting/Dockerfile.alerting .
      
      - name: Trigger update of k8s deployment YAML
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: update-alerting-yaml
          client-payload: '{"tag": "${{ steps.vars.outputs.date }}-${{ steps.vars.outputs.sha_short }}"}'